<style>
/* =========================================== */
/* 'bootstrap overrides' overrrides */
/* =========================================== */
#s-lg-tabs-container .nav-tabs > li > a,
#s-lg-tabs-container .nav-pills > li > a {
	
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #577CBE;
	color: #fff;
	font-weight: normal;
	padding: 4px 15px;
}
#s-lg-tabs-container .nav-tabs {
	border-bottom: 0;
}
#s-lg-tabs-container .nav-tabs > li#s-lg-admin-tab-add > a {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

#s-lg-tabs-container .nav-tabs > li > a:hover,
#s-lg-tabs-container .nav-pills > li > a:hover {
	
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background-color: #70A1EB;
	color: #fff;
}

#s-lg-tabs-container .nav-tabs > .active > a,
#s-lg-tabs-container .nav-pills > .active > a {
	color: #fff;
	cursor: default;
	background-color: #70A1EB;
	
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom-color: transparent;
	font-weight: bold;
}

#s-lg-tabs-container .nav-tabs > .active > .s-lg-subtab-ul > .active > a {
	color: #fff;
	cursor: default;
	background-color: #70A1EB;
	border-bottom-color: transparent;
}

#s-lg-tabs-container .nav-tabs > .active > a:hover, 
#s-lg-tabs-container .nav-pills > .active > a:hover {
	color: #fff;
	cursor: pointer;
	background-color: #70A1EB;
	
	border: 1px solid transparent;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-bottom-color: transparent;
	font-weight: bold;
}
#s-lg-tabs-container .nav .dropdown-toggle .caret {
	border-top-color: #e1e1e1;
}
#s-lg-guide-tabs-title-bar { border-top: 1px solid #70A1EB; }
.s-lib-box {
	border-color: #cccccc;
	border-width: 1px;
	box-shadow: 0 8px 6px -6px #AAAAAA;border-radius: 0;
	background-color: #fff;
}
.s-lib-box-std .s-lib-box-title {
	background-color: #f1f1f1;background-image: none;
	color: #888;
	border-bottom: 1px solid #cccccc;
}
.s-lib-box .s-lib-box-title {
	background-color: #f1f1f1;background-image: none;
	color: #888;
	border-bottom: 1px solid #cccccc;;
	border-radius: 0;
}
.s-lib-box .s-lg-box-footer {
	border-radius: 0;
}</style>

