#jwu-la-footer {}

.jwu-la-footer-top {
    background-color: #004a91;
    padding: 2em;
}

.jwu-la-footer-contact-group {
    padding: 1em 1em 1em 4em;
}

.jwu-la-footer-contact-group p {
    color: #FFF;
    line-height: 1;
    font-size: .8em;
    font-family: "open sans", sans-serif;
}

.jwu-la-footer-logo img {
    width: 80%;
}

.jwu-la-footer-links {
    padding: 4em 0em 0em 1em;
}

.jwu-la-footer-nav a {
    color: #FFF;
    text-decoration: underline;
    line-height: 1.5;
    font-size: 1em;
    word-wrap: break-word;
}

.jwu-la-footer-nav li {
    list-style-type: none;
    margin-top: 1em;
    font-family: "open sans", sans-serif;
}

.jwu-la-footer-bottom {
    background: #5987c5;
}

#jwu-la-header {
    height: 600px;
    width: 100%;
    position: relative;
    background-image: url('dorrance-1920_1080.jpg');
    background-position: center;
}

.jwu-la-header-logo {
    width: 100%;
}

.jwu-la-header-menu {
    background-color: rgba(0, 74, 145, 0.85098);
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 0px;
    z-index: 1;
    opacity: 0.9;
}

.jwu-la-header-menu .navbar-nav>.active>a {
    background-color: #04A3ED;
    color: white;
    font-weight: bold;
}

.jwu-la-header-menu .navbar-nav>li>a {
    font-size: 13px;
    color: white;
    padding: 10px 35px;
}

.jwu-la-header-menu .navbar-nav>li>a:hover {
    background-color: #04A3ED;
}

.navbar-header>a {
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 30px;
}

.navbar-header>a:hover {
    text-decoration: none;
    color: #04A3ED;
}

.topic-faq-link {
    font-size: 1.2em;
    text-align: left;
    margin-top: .2em;
}

#la-search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input {
    border: 0;
    box-shadow: none;
}

#custom-search-input button {
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
    font-size: 23px;
}

#search-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    font-weight: 900;
    color: #FFF;
    text-shadow: #000 2px 3px 3px;
}

.animate {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.info-card {
    width: 100%;
    border: 1px solid rgb(215, 215, 215);
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
}

.info-card>img {
    width: 100px;
    margin-bottom: 60px;
}

.info-card .info-card-details, .info-card .info-card-details .info-card-header {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 0 15px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.info-card-header h1 {
    padding: 0 15px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.info-card .info-card-details::-webkit-scrollbar {
    width: 8px;
}

.info-card .info-card-details::-webkit-scrollbar-button {
    width: 8px;
    height: 0px;
}

.info-card .info-card-details::-webkit-scrollbar-track {
    background: transparent;
}

.info-card .info-card-details::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
}

.info-card .info-card-details::-webkit-scrollbar-thumb:hover {
    background: rgb(130, 130, 130);
}

.info-detail {
    position: relative;
}

.info-detail li:nth-child(odd) a {
    background-color: rgba(226, 229, 229, 0.6);
    width: 100%;
    padding: 1em 0;
}

.info-card .info-card-details .info-card-header {
    height: auto;
    bottom: 100%;
    padding: 10px 5px;
}

.info-card:hover .info-card-details {
    bottom: 0px;
    overflow: auto;
    padding-bottom: 25px;
}

.info-card:hover .info-card-details .info-card-header {
    position: relative;
    bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.info-card .info-card-details .info-card-header h1, .info-card .info-card-details .info-card-header h3 {
    color: rgb(62, 62, 62);
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 !important;
}

.info-card .info-card-details .info-card-header h3 {
    color: rgb(142, 182, 52);
    font-size: 15px;
    font-weight: 400;
    margin-top: 5px;
}

.info-card .info-card-details .info-card-detail .social {
    list-style: none;
    padding: 0px;
    margin-top: 5px;
    text-align: center;
}

.info-card .info-card-details .info-card-detail .social a {
    position: relative;
    display: inline-block;
    min-width: 40px;
    padding: 10px 0px;
    margin: 0px 5px;
    overflow: hidden;
    text-align: center;
    background-color: rgb(215, 215, 215);
    border-radius: 40px;
}

a.social-icon {
    text-decoration: none !important;
    box-shadow: 0px 0px 1px rgb(51, 51, 51);
    box-shadow: 0px 0px 1px rgba(51, 51, 51, 0.7);
}

a.social-icon:hover {
    color: rgb(255, 255, 255) !important;
}

a.facebook {
    color: rgb(59, 90, 154) !important;
}

a.facebook:hover {
    background-color: rgb(59, 90, 154) !important;
}

a.twitter {
    color: rgb(45, 168, 225) !important;
}

a.twitter:hover {
    background-color: rgb(45, 168, 225) !important;
}

a.github {
    color: rgb(51, 51, 51) !important;
}

a.github:hover {
    background-color: rgb(51, 51, 51) !important;
}

a.google-plus {
    color: rgb(244, 94, 75) !important;
}

a.google-plus:hover {
    background-color: rgb(244, 94, 75) !important;
}

a.linkedin {
    color: rgb(1, 116, 179) !important;
}

a.linkedin:hover {
    background-color: rgb(1, 116, 179) !important;
}

.img-info-card {
    width: 100%;
    height: 300px;
}

.carousel {
    background: #EEE;
}

.carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
    background: #ED2;
}


/* cell number */

.carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

#faq-splash {
    background: rgba(245, 137, 50, 0.64);
    margin-top: 3em;
    padding: 1.5em;
    text-align: center;
}

#faq-splash a {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 2em;
    font-size: 1.6em;
    text-align: center;
    padding: 1em;
}

#faq-splash:hover {
    background-color: rgba(245, 137, 50, 0.9);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

#browse-button {
    background-color: rgba(255, 255, 255, .4);
    padding: 1em 2em;
    color: #FFF;
    position: absolute;
    bottom: 0;
    font-size: 1.4em;
    font-family: "open sans";
}

#browse-button:hover {
    background-color: rgba(255, 255, 255, .6);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.all-faqs-link {
    margin-top: 1em;
    font-size: 1.5em;
}
