/*------------------------------------*\
    JWU LibGuides Master CSS File
\*------------------------------------*/

/**
 * Created: 7-2-2015
 * Edited:  7-20-2015
 * Author: David M. (JWU-Prov Library)
 * [structure of document based on http://cssguidelin.es/ by Harry Roberts]
 */


/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 *
 * JWU-STYLES
 * Unfiled................. Not-yet-placed (in this CSS file) CSS from JWU sites
 */







/*------------------------------------*\
  # SETTINGS (Global)
\*------------------------------------*/

/**
 * Globally-available variables and config.
 * Edited:  7-2-2015
 *
 */
 
 body,h2,h3,h4 {
    color:#333;
}
 
 
 
/*------------------------------------*\
  # Tools (Mixins)
\*------------------------------------*/

/**
 * Useful mixins.
 * Edited:  7-2-2015
 *
 */

 
 
 
  
/*------------------------------------*\
  #  GENERIC (Normalize.css and Box-sizing )
\*------------------------------------*/

/**
 * A level playing field.
 * Edited:  7-2-2015
 *
 */
 
 
 
 
 
/*------------------------------------*\
  #   BASE (Headings)
\*------------------------------------*/

/**
 * H1–H6 styles.
 * Edited:  7-6-2015
 *
 */
 




h1 {
    font-size:1.875rem;
    color:#666;
}

h2 {
    font-size:1.5rem;
}



h3 {
    font-size:1.25rem;
}

p {
    font-size:.875rem;
}
/* END: originally from it.jwu.edu (pulled 7-2-2015) */
 
 
/*------------------------------------*\
  #   OBJECTS (Wrappers)
\*------------------------------------*/

/**
 * Wrapping and constraining elements.
 * Edited:  7-20-2015
 *
 */
 
 
 /**
/* wrappers for homepage elements*/

.ask-us-wrap{
padding: 1em 0;
}
.ask-pic img{
}

.ask-pic p{
font-size:1.4rem;
margin-left:2em;
}

/*searchbox stuff */

.s-lib-box-content .ui-tabs-nav li>a{
padding: 1em 2em; 
font-size: 1.1em;
}


.tab_content{

}


.box_sub_section{

}

/*JWU Prov Homepage specific searchbox tweaks...using the unique ID: s-lg-box-6621175 */

#s-lg-box-6621175{
margin:0 1em;
width:90%;
}


/*end searchbox stuff */

/* Quicklinks stuff */
.quicklinks-box{
}

/* This removes the bullets from the quicklinks list*/
#quicklinks-box ul{
list-style-type: none !important;
padding:0 0 10px 10px; 
margin:0;
}



#quicklinks-box ul li{
}

#quicklinks-box ul li a{
font-size:1.2em;
}



#quicklinks-box ul li a, ul li a:focus, ul li a:visited{
border-bottom:1px dotted #B0B0B0;
}
/* end quicklinks */





/* Homepage hours stuff (from libcal...modified springshare styles)*/

table.hours-today {
border:none;
padding:.5em;

}

tr. hours-today-row {
padding-top:1em;
}
.hours-col-loc {
 padding-right: 1em; 
 }
.hours-col-time { 
padding-left: .9em; 
}

.hours-col-time {
 border-left: 1px dashed #BBB; 
 }

tr.hours-depart td.hours-col-loc { 
padding-left: 1em; 
}




/**
/* end wrappers for homepage elements */

 
 
/*------------------------------------*\
  #   COMPONENTS (Page-head, Page-foot, Buttons)
\*------------------------------------*/

/**
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * Edited:  7-7-2015
 *
 */

 
 /*-----------------------------*\
/*-- ## Page-head (COMPONENTS) --*\



/* For Page-head components to work in LibGuides,
 * make sure that they are in the master CSS file that is referenced 
 *(for now, this one)
 * They can also be enclosed inline with <style> in the "Custom JS/CSS Code" Section,
 * located at:
 * https://jwu-ri.libapps.com/libguides/lookfeel.php?action=1 
*/

#jwulib-header {
    padding-bottom:20px;
}

.jwu-lib-logo {
    padding-top:20px;
}


 /*-----------------------------*\
/*-- ## Page-footer (COMPONENTS) --*\

/* For Page-Foot/footer components to work in LibGuides,
 * make sure that they are in the master CSS file that is referenced 
 *(for now, this one)
 */
 
 

#jwulib-footer {
    border-top:5px solid #F90;
    margin-top:1em;
    margin-bottom:1em;
}

.jwulib-footercol h4 {
    text-transform:uppercase;
    font-size:.9em;
    font-weight:700;
    color:#333;
}

.jwulib-footercol ul {
    padding:0;
    margin:10px 0;
}

.jwulib-footercol ul li {
    list-style-type:none;
}

.jwulib-footercol ul li a {
    text-decoration:none;
    color:#333;
    font-weight:400;
}



 /*----------------------------*\
/*-- ## Buttons (COMPONENTS)  -- *\
 * homepage icons under "Ask Us"...this is where the styles are
*/







/*------------------------------------*\
  #   TRUMPS (Text)
\*------------------------------------*/

/**
 * Text helpers.
 * Edited:  7-20-2015
 *
 */

h1.s-lg-guide-name{
 font-size:1.5rem !important;
 }
 
h2.s-lib-box-title{
 font-size:1.4rem !important;
 font-family: 'Gill Sans MT','Gill Sans',Verdana,sans-serif;
 letter-spacing: 3px;
  padding: 3px 5px 5px 12px;
  text-transform: uppercase;
  margin-bottom: .5em !important;
  font-weight:normal !important;
 }
 
  

 
 
.expl-text{
 font-size:1.4rem;
 font-style: italic;
 }
 
 

/*------------------------------------*\
  #   JWU-Styles (Unfiled)
\*------------------------------------*/

/**
 * CSS 
 * Edited:  7-2-2015
 * Not-yet-placed (in this CSS file) CSS from JWU sites
 * See "jwuEdu-css-snippets.css" for source material
 */

 


